/* fjalla-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fjalla-one-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* courgette-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/courgette-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v35-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v35-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* Google Web fonts */

@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Courgette|Open+Sans:300,400,600|Herr+Von+Muellerhoff);
@font-face {
	font-family: FontAwesome;
	src: url(../fonts/font_icons/fontawesome-webfont.eot?v=4.3.0);
	src: url(../fonts/font_icons/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'), url(../fonts/font_icons/fontawesome-webfont.woff2?v=4.3.0) format('woff2'), url(../fonts/font_icons/fontawesome-webfont.woff?v=4.3.0) format('woff'), url(../fonts/font_icons/fontawesome-webfont.ttf?v=4.3.0) format('truetype'), url(../fonts/font_icons/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
	font-weight: 400;
	font-style: normal
}
  @font-face {
	font-family: icomoon;
	src: url(../fonts/font_icons/icomoon.eot?wsw52l);
	src: url(../fonts/font_icons/icomoon.eot?#iefixwsw52l) format('embedded-opentype'), url(../fonts/font_icons/icomoon.woff?wsw52l) format('woff'), url(../fonts/font_icons/icomoon.ttf?wsw52l) format('truetype'), url(../fonts/font_icons/icomoon.svg?wsw52l#icomoon) format('svg');
	font-weight: 400;
	font-style: normal
}
[class*=" icon-"], [class^=icon-] {
	font-family: 'icomoon';
	 speak-as: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-breakfast:before {
	content: "\e604"
}
.icon-desert:before {
	content: "\e605"
}
.icon-dinner:before {
	content: "\e606"
}
.icon-drinks:before {
	content: "\e607"
}
.icon-launch:before {
	content: "\e608"
}
.icon-bottom-draw:before {
	content: "\e602"
}
.icon-top-draw:before {
	content: "\e603"
}
.icon-home-ico:before {
	content: "\e601"
}
.icon-intro:before {
	content: "\e600"
}
  /* ------------------------------------------------------------------------------ */
  :root
{
     --theme-bg: #C89D66;
     --theme-dark: #515151;
     --white: #F1F1F1;
}
body
{
     font-family: 'Open Sans';
     font-weight: 400;
     color: var(--theme-dark);
     font-size: 14px;
     /* width: 100%; */
}
h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6
{
     font-family: 'Fjalla One';
}
.theme-color
{
     background-color: var(--theme-bg);
     color: var(--white);
}
.theme-dark-color
{
     background-color: var(--theme-dark);
     color: var(--white);
}
ul , ol
{
     margin: 0;
}
li{
    list-style: none;
    /* margin-right: 10px; */
 }
/* ----------------------------------------------------------------- */
/* -----------------------header top fix on scroll */
.top_fixed{
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1000;
   animation: top_head 1s;
   background-color: white;
   color: #101010;
   z-index: 100;
 }
 .top_fixed .main-menu li a
 {
   color: black;
 }
 .top_fixed .shop-cart a i{
   color: #101010;
 }
 .top_fixed .sub-menu li a{
   color: #fff;
 }
 @keyframes top_head {
     from{
       transform: translateY(-100%);
     }
     to{
       transform: translateY(0);
     }
 }

/* --preloader css */
.preloader{
   width: 100%;
   height: 100vh;
   background-color: grey;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
}
.preloader .spineer{
   /* margin: 40px auto 0; */
    width: 70px;
    text-align: center;
}
.preloader .spineer>div{
   width: 18px;
   height: 18px;
   background-color: #c59d5f;
   border-radius: 100%;
   display: inline-block;
   
}
/* ------scroll to top----------- */
.to_top{
   height: 40px;
   width: 40px;
   background-color: rgba(32, 32, 32, 95);
   color: white;
   border-radius: 10px;
   text-align: center;
   line-height: 36px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   cursor: pointer;
   font-size: 20px;
 }
 .to_top:hover{
   background-color: #c59d5f;
   color: #FFF;
   transition: .3s;
 }
/* ------------------------------start heading css-------------------------- */
header {
    position: absolute;
    padding-top: 40px;
    width: 100%;
    /* padding-left:112px;
    padding-right: 112px; */
    z-index: 50;
 }
 header>.container{
    max-width: 100%;
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
 }

 .p-15{
    padding-top: 25px;
    padding-bottom: 25px;
 }
 .main-menu{
    height: 60px;
    /* float: right; */
    right: 15px;
 }
 /* .main-menu .menu{
    margin-left: 100px;
    position: absolute;
 } */
 .menu li{
    /* padding: 0 20px; */
    color: var(--thm-white);
    text-transform: uppercase;
    font-size: 14px;
    /* right: 5px; */
    position: relative;
 }
 .main-menu li a{
    /* color: white; */
    /* font-size: 14px; */
    font-weight: 500;
    /* padding: 15px 0px; */
   text-decoration: none;
   /* line-height: 21px; */
   font-family: 'Fjalla One';
   display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
 }
 .sub-menu{
    background-color: black;
    /* color: #fff; */
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.3s);
    position: absolute;
    /* top: 120%; */
    /* left: 0; */
    width: 200px;
    /* height: auto; */
    padding: 10px 0;
    transition: .4s;
    /* display: block; */
    display: none;
    border-top: 3px solid #c59d5f;
    /* z-index: 1000; */
 }

.sub-menu li a
{
     padding: 8px 20px;
     font-size: 12px;
     font-weight: normal;
     letter-spacing: 1px;
     transition: .5s;
     color: white;
     /* margin: 10px 5px; */
      
}
 
 .sub-menu li:hover > a
 {
      padding-left: 40px;
 }
 .main-menu .menu li:hover .sub-menu 
{
     display: block;
     opacity: 1;
     visibility: visible;
     top: 100%;
     z-index: 20;
     /* transition: 0.3s; */
}
 .menu li i{
    margin-left: 0.5rem !important;
 }
 .shop-cart{
   position: relative;
   margin-top: 15px;
   padding: 0 15px;
   /* float: right; */
 }
 .shop-cart a i{
   color: white;
   /* background-color: antiquewhite; */
   font-size: 16px;
   line-height: 30px;
   /* vertical-align: middle; */
   /* padding: 16px 15px; */
   /* display: block; */
   position: relative;
   /* top: 10%; */
   right: 60%;
   bottom: 40%;
 }
 .shop-cart a p{
   /* display: block; */
    position: absolute;
    bottom: 50%;
    /* bottom: 5px; */
    left: 30%;
    /* left: auto; */
    right: 40%;
    font-size: 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #c59d5f;
    border-radius: 50%;
 }
 .shop-cart .cart{
    display: block;
    position: absolute;
    top: 8px;
    left: auto;
    right: 8px;
    font-size: 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #c59d5f;
    border-radius: 50%;
 }
 .bars_btn 
{
     display: none;
}

/* .mega_div{
	width: 100%;
	padding: 20px;
	background-color: darkgoldenrod;
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
	transform: rotateX(90deg) scale(0);
	transform-origin: top;
}
li.unset{
	position: unset;
}

.mega_menu{
	display: flex;
}

.mega_menu .items{
	width: 25%;
}
.mega_menu .items ul li a{
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 20px;
	color: antiquewhite;
	margin: 8px auto;
	box-shadow: 0 2px 4px 1px;
}

.main-menu li:hover .mega_div {
	opacity: 1;
	visibility: visible;
	transform: rotateX(0deg) scale(1);
	/* //box-shadow: 0 2px 4px 1px; 
/* }  */

 /* --------------------------------end heading css------------------------- */
 
 /* ===============================start bannner css------------- */
 section{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
 }
 .slide_box{
    transition: 0.5s;
    transition-delay: center;
    position: relative;
 }
 .slide_box img{
    height: 100%;
    width: 100%;
   object-fit: cover;
  
 }
 #banner.owl-carousel .owl-item.active .slide_box img
 {
    animation: slide_zoom_out 5s  cubic-bezier(.38,.28,.62,.86);
 }
 @keyframes slide_zoom_out
 {
    from{
       transform: scale(1.6);
    }
    to{
       transform: scale(1);
    }
 }
 section .slide_box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
   
 }
 .slide_box .text_slide
 {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 50%;
     text-align: left;
     transform: translate(-50% , -50%);
     overflow: hidden;
     z-index: 2;
     text-align: center;
 }
 .text_slide i{
    color: #fff;
    font-size: 40px;
    position: absolute;
 }

 .slide_box .text_slide h1 {
     
     font-size: 50px;
      font-weight: 500;
     /* margin: 0px 0px 20px; */
     color: white; 
     font-family: 'Fjalla One';
     margin: 30px 0;
     text-transform: uppercase;
 }
 .slide_box .text_slide .paragraph{
    color: white;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 5px;
    /* margin-bottom: 20px; */
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 28px;
    text-align: center;
 }
 section .slide_box .text_slide h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0px 0px 20px;
    color: white;
 }
 button{
    background-color: var(--thm-color);
    border-radius: 4px;
    margin-top: 20px 30px;
    /* margin-bottom: 30px; */
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 14px 23px;
}
button a{
     padding: 6px 25px;
    border: 2px solid #c59d5f;
    text-transform: uppercase;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: 400;
 }

 button a:hover{
   
    background-color: #c59d5f;
    color: white;
    transition: 0.5s;
 }
 
 /*---------------end banner css---------------------  */

 /* --------------------art food css start------------------- */
.art-food{
    padding: 100px 0;
    display: block;
}
.head-title{
    margin-bottom: 60px;
    text-align: center;
}
.head-title .welcome{
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #262626;
    font-family: 'Courgette';
}
.read-more{
   margin-top: 30px;
   background-color: transparent;
   border: 2px solid #c59d5f;
    padding: 6px 25px;
    text-transform: uppercase;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    text-decoration: none;
    border-radius: 10px;
    color: #262626;
}
.read-more:hover{
    background-color: #c59d5f;
    color: #fff;
    transition: .5s;
}
 /* -------------------art food end----------------------------- */

 /* ------------------------dark section css start----------- */
.dark{
    text-align: center;
    display: block;
    position: relative;
}
.dark-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/asset\ 43.jpeg);
    position: relative;
    /* background-attachment: fixed; */
    background-size: cover;
    object-fit: cover;
}
.bg-transparent{
   padding: 100px;
   position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    /* z-index: 1000; */
    top: 0;
    right: 0;
}
.bg-transparent .create{
   color: #fff;
   font-size: 48px;
   text-transform: uppercase;
   font-family: 'Fjalla One', 'sans-serif';
   margin-top: 20px;
   margin-bottom: 10px;
   font-weight: 500;
   line-height: 1.1;
}
.bg-transparent .upper{
   font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 28px;
    margin: 0 0 10px;
    color: #FFF;
    text-align: center;
}

.discover-more{
   /* margin-top: 20px; */
   color: #fff;
   background-color: transparent;
   border: 2px solid #c59d5f;
   padding: 6px 25px;
   text-transform: uppercase;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    text-decoration: none;
}
.discover-more:hover{
   background-color: #c59d5f;
   transition: .5s;
}
 /* ------------------------dark section css start----------- */

 /* -----------------------menu-today css start------------------- */
.menu-today{
   padding: 100px 0;
   color: #fff;
}
.box{
   position: relative;
   display: block;
   overflow: hidden;
}
.box img{
   /* position: absolute; */
   display: block;
   background-size: cover;
   height: auto;
   width: 100%;
   border-radius: 10px;
}
.box .fig-contain{
   position: absolute;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20%;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 100;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .fig-contain h3{
   color: #fff;
   text-transform: uppercase;
   font-family: 'Fjalla One', 'sans-serif';
   font-size: 24px;
   margin-top: 20px;
   margin-bottom: 10px;
   font-weight: 500;
   line-height: 1.1;
}
.box .fig-contain p{
   font-size: 18px;
   line-height: 28px;
   margin: 0 0 10px;
   font-family: 'Courgette';
}
.box:hover .fig-contain
{
   height: 100%;
}
/* -------------------------menu-today css end----------------------- */

/* -------------------------reservation section css start------------------- */
.reservation{
   position: relative;
}
.bg-transparent{
   padding: 100px 0;
   /* position: relative; */
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3s);
   
}
.reservation .reservation-image{
   background-image: url(../images/asset\ 44.jpeg);
}
.heading-title{
   margin-bottom: 60px;
   text-align: center;
   justify-content: center;
   color: #FFF;
}
span{
   font-size: 18px;
   position: relative;
   display: inline-block;
   font-family: 'Courgette', 'cursive';
}
span::before{
   content: "";
    position: absolute;
    height: 15px;
    border-bottom: 2px solid #ddd;
    width: 50px;
    right: 100%;
    margin-right: 15px;
    font-size: 18px;
    color: #fff;
    /* z-index: 100; */
}
span::after{
   content: "";
   position: absolute;
   height: 15px;
   border-bottom: 2px solid #ddd;
   width: 50px;
   margin-left: 15px;
   left: 100%;
   color: #FFF;
   font-size: 18px;
}
.reserve-form{
   margin-top: 60px;
  
}
/* .reserve-form input{
   color: #FFF;
} */
.reserve-form .form-group{
   /* margin-bottom: 30px; */
    /* float: left; */
    width: 100%;
}
.form-group{
   margin-bottom: 30px;
   /* color: #FFF; */
   
}
.reserve-form .form-control{
  
    text-transform: uppercase;
    font-size: 12px;
    /* color: #FFF; */
}
.form-control{
   color: #FFF;
}
.form-group .form-control{
   display: block;
    width: 100%;
    height: 42px;
    padding: 6px 10px;
    line-height: 1.4;
    background-color: transparent;
    color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.form-group .form-control::value{
     color: #FFF;
}
.form-group textarea{
   background-color: transparent;
   color: #FFF;
   border: 2px solid #ddd;
   border-radius: 10px;
   height: 100px;
}
.form-group textarea::placeholder{
   color: #fff;
}
/* .form-control{
   color: #FFF;
} */
.select-wrap select option{
   background-color: white;
}
.form-group i{
   z-index: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    /* color: #fff; */
}
.form-group::placeholder{
   /* color: #fff; */
    border-color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    min-height: 100px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    /* border: 2px solid #515151; */
    /* background-color: transparent; */
    border-radius: 10px;
}
.book{
   /* margin-top: 20px; */
   color: #fff;
   background-color: transparent;
   border: 2px solid #c59d5f;
   padding: 6px 25px;
   text-transform: uppercase;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    text-decoration: none;
    left: 45%;
    /* text-align: center; */
    /* justify-content: center; */ 
}
.book:hover{
   background-color: #c59d5f;
   transition: .5s;
}
/* ------------------------------reservation section css end---------------------- */

/* -----------------------------our menu css  start------------------------------ */
.our_menu{
   padding: 100px 0;
   display: block;
   /* position: relative; */
}
.heading-title1{
   margin-bottom: 60px;
    text-align: center;
}
.menu-tabs{
   z-index: 10;
   opacity: .97;
}
.menu-tabs .tab{
   margin-top: 15%;
}
.list-group a.active{
   background-color: #c59d5f;
   color: #fff;
   margin-bottom: 15px;
   border-radius: 10px;
   padding: 11px 15px;
   font-size: 17px;
   letter-spacing: 2px;
   z-index: 2;
   text-decoration: none;
}
.list-group a{
   margin-bottom: 15px;
   border-radius: 10px;
   background-color: #e8e8e8;
    color: #262626;
    padding: 11px 15px;
    font-size: 17px;
    letter-spacing: 2px;
    text-decoration: none;
}
.tab-content{
   overflow: hidden;
   position: relative;
   width: 100%;
}
.items img{
   width: 100%;
   border-radius: 10px;
   vertical-align: middle;
}
.menu-tabs .item-desc{
   padding: 20px;
    position: absolute;
    top: 20%;
    right: 0;
    width: 370px;
    background: rgba(241,241,241,.8);
    color: #262626;
}
.item-desc h3{
   margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.item-desc .price{
   /* text-align: right; */
   /* top */
   /* top: 20; */
   margin-left: 20%;
   color: #c59d5f;
}
.rating{
   margin-bottom: 10px;
   font-size: 14px;
}
.rating .active{
   color: #c59d5f;
}
.item-desc .para{
   font-weight: 300;
   font-size: 15px;
   line-height: 28px;
   clear: both;
   font-family: 'Open Sans', 'sans-serif';
   margin: 0 0 10px;
}
.item-desc .group-btn{
   margin-bottom: 15px;
}
.group-btn .btn1{
   margin-right: 10px;
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: transparent;
    border: 2px solid #c59d5f;
    padding: 6px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    line-height: 1.7;
    position: relative;
    font-size: 13px;
}
.group-btn .btn1:hover{
   background-color: #c59d5f;
   
   /* color: #fff; */
   
}
/* .btn1 i:hover{
   color: #fff;
} */

.group-btn .btn1 i{
   color: #c59d5f;
}
/* ---------------------------our menu css end--------------------------------- */

/* ----------------------------video section css start----------------------- */
.video{
   position: relative;
   color: #fff;
   text-align: center;
}
.video-image img{
   /* background-image: url(../images/asset\ 45.jpeg); */
   /* background-size: cover; */
   /* background-repeat: no-repeat; */
   /* height: 20%; */
   /* width: 100%; */
}
.video_bg
{
   padding: 100px 0;
   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,  url(../images/asset\ 45.jpeg);
   background-size: 100%;
}
.text-title{
   z-index: 100;
}
.video_bg .img-3{
   /* /* bottom: 5%; */
   top:60%;
   right: 10%;
}
.video-responsive{
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 4;
}
.video-responsive iframe{
   height: 100%;
   width: 100%;
}
.text-title h1{
   font-size: 48px;
   text-transform: uppercase;
   color: #fff;
   margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Fjalla One', 'sans-serif';
}
.text-title b{
   font-size: 24px;
   font-family: 'Courgette','cursive';
   font-weight: 700;
   color: #FFF;
}
.text-title .italic{
   font-style: italic;
   /* margin-top: 40px; */
   font-size: 15px;
    line-height: 28px;
    margin: 0 0 10px;
}
/* ------------------------------video section css end---------------------------- */

/* --------------------------------latest news css start----------------------------- */
.latest-news{
   padding: 100px 0 120px;
}
.title-news{
   text-align: center;
}
.title-news{
   margin-bottom: 60px;
}
.title-news h1{
   font-size: 48px;
   text-transform: uppercase;
   color: #262626;
   margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.box .news-contain{
   position: absolute;
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20%;
    left: 0;
    bottom: 0;
    top: auto;
    z-index: 100;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .news-contain h3{
   color: #fff;
   text-transform: uppercase;
   font-family: 'Fjalla One', 'sans-serif';
   font-size: 24px;
   margin-top: 20px;
   margin-bottom: 10px;
   font-weight: 500;
   line-height: 1.1;
}
.box .news-contain p{
   font-size: 18px;
   line-height: 28px;
   margin: 0 0 10px;
   font-family: 'Courgette';
}
.box:hover .news-contain
{
   height: 100%;
}
.news-inner i{
   color: #FFF;
   margin-top: -40px;
   /* color: #fff; */
   /* opacity: 0; */
   font-size: 40px;
   /* text-rendering: auto; */
   /* transform: translate(0, 0); */
   /* display: block; */
}
.news-inner {
   /* padding-bottom: 130px; */
   text-align: center;
}
.news-inner p{
   color: #FFF;
   text-transform: capitalize;
   font-size: 18px;
   font-family: 'Courgette', 'cursive';
}
.news-inner .fig-p{
   /* padding: 0 10px; */
    /* margin-top: 20px; */
    /* opacity: 0; */
    color: #FFF;
    /* color: #fff; */
}
.news-inner .fig-p a{
   text-decoration: none;
   color: #fff;
}
.news-inner h3{
   margin-top: 20px;
    margin-bottom: 10px;
}
.menu-item .btn1{
      position: absolute;
      /* position: 50%; */
      /* cursor: auto; */
      color: #FFF;
      background-color: #c59d5f;
      height: 40px;
      border: 2px solid #c59d5f;
    padding: 6px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 13px;
    align-items: center;
    left: 20%;
  
}
.menu-item .btn2{
   position: absolute;
   color: #FFF;
   background-color: #c59d5f;
   height: 40px;
   border: 2px solid #c59d5f;
 padding: 6px 25px;
 border-radius: 10px;
 text-transform: uppercase;
 font-size: 13px;
 align-items: center;
 right: 20%;
}
.menu-item .btn3{
   position: absolute;
   color: #FFF;
   background-color: #c59d5f;
   height: 40px;
   border: 2px solid #c59d5f;
 padding: 6px 25px;
 border-radius: 10px;
 text-transform: uppercase;
 font-size: 13px;
 align-items: center;
 right: 45%;
}

/* ----------------------------------latest news css end------------------------------ */

/* -----------------------------footer section css start----------------------- */
.footer-dark{
   padding: 50px 0;
   font-size: 13px;
    padding-bottom: 0;
    position: relative;
    background: #191919;
}
.footer-title h3{
   color: #fff;
   margin-bottom: 40px;
   text-transform: uppercase;
   font-size: 24px;
}
.footer-title p{
   font-size: 13px;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 28px;
    margin-bottom: 0;
}
.footer-title h5{
   font-size: 13px;
    font-weight: 400;
    color: #FFF;
    line-height: 1.4;
}
.footer-title .call-for{
   font-size: 13px;
   font-weight: 400;
   color: #7a7a7a;
}
.footer-title .social{
   margin-top: 30px;
}

.social li a{
   color: #fff;
   background: #3f3f3f;
   padding: 9px;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   display: block;
   float: left;
   text-align: center;
   text-decoration: none;
   margin-right: 5px;
}
.media .media-left{
   padding-right: 10px;
}
.media-left  a img{
   border-radius: 10px;
}
.media-right .media-heading{
   color: #fff;
   margin-bottom: 5px;
   text-transform: uppercase

}
.media-heading a{
   color: #FFF;
   font-size: 16px;
   text-decoration: none;
}
.media-right p{
   color: #515151;
   line-height: 1.5;
}
.footer-title time{
   float: right;
   color: #FFF;
}
.footer-title button{
   float: right;
   font-size: 13px;
   /* font-weight: 400; */
   background-color: #c59d5f;
   color: #FFF;
   margin-top: 4px;
   border-radius: 5px;
   padding: 5px 5px 5px;
   text-align: center;
   line-height: 1;
}
.footer-logo{
   padding: 40px 0;
   background-color: #101010;
   margin-top: 50px;
   font-size: 13px;
}
.footer-logo img{
   margin-bottom: 20px;
}
.footer-logo p{
   color: #7a7a7a;
   font-size: 13px;
   font-weight: 400;
   line-height: 1;
}
.footer-logo a{
   color: #c59d5f;
  text-decoration: none;
}
/* -------------------------------footer section css end---------------------- */
/* 
#banner .owl-item.active .slide_box img
{
   transform: scale(1);
   animation: slidezoom 3s;
}
@keyframes slidezoom
{
   from{
      transform: scale(1.4);
   }
   to{
      transform: scale(1);
   }
} */
.form-group .form-control::placeholder
{
   color: white;
}



/* ------------------------reservation section css start------------------- */
.slide img{
   /* background-image: url(../images/reservation.jpg); */
   position: relative;
   width: 100%;
   height: 100%;
   background-size: cover;
   /* background-attachment: fixed; */
   /* z-index: 0; */
}
.reservation-table{
   background-image: url(../images/6.jpg);
   background-size: cover;
   width: 100%;
   height: 100%;
   
}
.bg-rgb{
   padding: 100px 0;
   position: relative;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,.3);
   /* z-index: 1000; */
   top: 0;
   right: 0;
}
.slide .slider-content{
   /* padding-top: 139px; */
   top: 30%; 
   margin-top: 50px;
   text-align: center;
   position: absolute;
   z-index: 100;
   color: #fff;
   z-index: 0;
}
.slider-content{
   text-align: center;
   left: 40%;
}
.slider-content h1{
   margin-bottom: 15px;
   font-size: 50px;
    /* margin: 30px 0; */
    font-family: 'Fjalla One', 'sans-serif';
    text-transform: uppercase;
}
.slider-content p{
   font-size: 21px;
   text-transform: uppercase;
   margin-bottom: 15px;
   letter-spacing: 0;
   margin:  0 0 30px;
   line-height: 28px;
   font-family:  'Courgette', 'cursive';
}
.slider-content .bread{
   padding: 8px 15px;
   display: block;
   list-style: none;
   margin-top: 0;
}
.bread li a{
   text-decoration: none;
   color: #FFF;
}
.bread li a:hover{
   color: #c59d5f;
}
/* -----------------------reservation section css end--------------------- */

/* ---------------------food date css start----------------------------- */
.food-date{
   padding: 100px;
   text-align: center;
   display: block;
}
.block-item{
   border: 2px  solid #c59d5f;
   border-radius: 20px;
   padding: 40px;
   text-align: center;
}
.block-item h2{
   text-transform: uppercase;
   color: #262626;
   font-size: 30px;
   margin-top: 20px;
   margin-bottom: 10px;
   font-weight: 500;
   line-height: 1.1;
}
.form-tag{
   background-color: transparent;
   border: 2px solid #ddd;
   border-radius: 10px;
   display: block;
   width: 100%;
   height: 42px;
   padding: 6px 10px;
   margin-bottom: 30px;
}
.form-tag::placeholder{
   color: #FFF;
   text-transform: uppercase;
   font-size: 12px;
}
/* input type::placeholder{
   color:#fff ;
} */
.msg{
   /* float: left; */
   width: 100%;
}
.btn5{
   text-align: center;
}
.btn5 button{
   background-color: transparent;
   color: #FFF;
   border-color: #c59d5f;
   border: 2px solid #c59d5f;
   padding: 6px 25px;
   border-radius: 10px;
   text-transform: uppercase;
    height: 40px;
    /* line-height: 1.7; */
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    /* vertical-align: middle; */
}
.btn5 button:hover{
   background-color: #c59d5f;
   transition: 0.3s;
}
/* -------------------------food date css end------------------------------ */

/* ----------------------------extra touch css start------------------------- */
.extra-touch{
   padding: 100px;
   text-align: center;
   display: block;
}
.extra-touch h2{
   display: block;
   text-transform: uppercase;
   color: #262626;
   font-size: 30px;
   margin-top: 20px;
   margin-bottom: 10px;
   font-weight: 500;
   line-height: 1.1;
}
.extra-touch .express{
   color: #c59d5f;
   text-decoration: none;
}
.touch button{
   background-color: transparent;
   color: #262626;
   border-color: #c59d5f;
   border: 2px solid #c59d5f;
   padding: 6px 25px;
   border-radius: 10px;
   text-transform: uppercase;
    height: 40px;
    /* line-height: 1.7; */
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}
.touch button:hover{
   background-color: #c59d5f;
   color: #FFF;
   transition: .3s;
}

/* ---------------------------extra touch css end-------------------------- */

/* --------------------------map css start---------------------------------- */
.map iframe{
   width: 100%;
   height: 100%;
}
.map
{
   height: 500px;
}
/* --------------------------map css end--------------------------------- */


/* --------------------------blog section css start---------------------- */
.blog-grid{
   padding: 100px 0;
   width: 100%;
}
.slide img{
   width: 100%;
   height: 500px;
   background-size: cover;
}
.item-blog{
   margin-bottom: 80px;
   padding-left: 15px;
   padding-right: 15px
}
.item-blog .btn6  {
   position: absolute;
   background-color: #c59d5f;
   left: 25%;
   color: #fff;
   text-decoration: none;
   border: 2px solid #c59d5f;
    padding: 6px 25px;
    border-radius: 10px;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
    /* top: 10%; */
   /* z-index: 100; */
}
.item-blog .btn7{
   position: absolute;
   background-color: #c59d5f;
   right: 25%;
   color: #fff;
   text-decoration: none;
   border: 2px solid #c59d5f;
    padding: 6px 25px;
    border-radius: 10px;
    height: 40px;
    line-height: 1.7;
    font-size: 13px;
}


/* --------------------------blog section css start---------------------- */



/* ------------------------events section css start------------------------- */
.events{
   padding: 100px 0;
   text-align: center;
}
.events p{
   font-size: 15px;
   line-height: 28px;
   margin: 0 0 10px;
}
.calender .left i{
   color: #dddddd;
}
 .left i::after{
   content: "";
    font-weight: bold;
    font-size: 200%;
    top: -7%;
    left: 3%;
}




/* -----------------------events section css end------------------------- */